﻿<%@ Page Title="Descargar Pdf" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Ver_Descargar_PDF.aspx.cs" Inherits="SICRER_Web_Application.Ver_Derscargar_PDF" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
